body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: #217921; /* Verde fuerte */
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#message {
    background-color: #47721b; /* Verde claro */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#fileInput {
    display: none; /* Ocultar el input file original */
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #228B22; /* Verde fuerte */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}
