body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    display: inline-block;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

#infoPaises {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dashed black;
    text-align: center; /* Centramos la línea debajo de "Paises" */
}
