body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select, button {
    margin: 10px;
}

#tablaResultado {
    margin: 20px;
    text-align: center;
}

img {
    width: 40px;
    margin-right: 5px;
}
